
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Edit your Post</h1>
        <a href="#/tab/chat"><i class="button button-clear button-icon ion-android-arrow-back"></i></a>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">Post
                </label>
                <ion-list > 
                <input type="text"  ng-model="post1">
                <br><br>     
            <ion-button class="button button-full button-positive" ng-click="updateshow(post1)">Update
            </ion-button>
            </ion-item>
                </ion-list> 
        </div>
    </ion-content>